#main-container {
  position: relative;
}

#clock-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 45%;
  width: 50%;
  margin: -25% 0 0 -25%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#break-div,
#session-div {
  text-align: center;
  font-weight: bold;
}

#break-down-arrow-active:hover,
#break-up-arrow-active:hover,
#session-down-arrow-active:hover,
#session-up-arrow-active:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#break-down-arrow-inactive,
#break-up-arrow-inactive,
#session-down-arrow-inactive,
#session-up-arrow-inactive {
  color: gray;
}

#pomodoro {
  background-color: tomato;  
  border: .15rem solid white;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

#break-decrement,
#break-increment,
#break-length,
#session-decrement,
#session-increment,
#session-length,
#start_stop,
#restart {
  display: inline-block;
}

#break-length,
#session-length,
#restart {
  margin-left: .5rem;
  margin-right: .5rem;
}

#timer {
  margin-top: 3rem;
}

#timer-controls-div {
  margin-top: 1rem;
}

@media (min-width: 320px) {
  #clock-container {
    top: 30%;
    left: 50%;
    height: 45%;
    width: 50%;
    margin: -25% 0 0 -25%;
  }
}

@media (min-width: 768px) {
  #clock-container {
    top: 50%;
    left: 50%;
    height: 60%;
    width: 60%;
    margin: -25% 0 0 -25%;
    background-color: white;
    box-shadow: 10px 5px 5px gray;
  }
}

@media (min-width: 992px) {
  #clock-container {
    top: 50%;
    left: 50%;
    height: 45%;
    width: 50%;
    margin: -25% 0 0 -25%;
    background-color: white;
    box-shadow: 10px 5px 5px gray;
  }
}