body {
  background-color: lightgray;
}

#clock-container {
  position: absolute;
  height: 30rem;
  width: auto;
  margin: 10rem 40rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}

#pomodoro {
  background-color: tomato;  
  border: .15rem solid white;
  box-shadow: 10px 5px 5px lightgray;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

#timer {
  margin-top: 5rem;
}
